*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(#f7f7f7);
  padding: 3rem;
  box-sizing: border-box; }

@keyframes bringLettersTogether {
  0% {
    opacity: 0;
    color: #ffed4d;
    letter-spacing: 20rem; }
  100% {
    color: #fffacc;
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes text-pop {
  0% {
    color: rgba(4, 98, 4, 0.5); }
  70% {
    color: #fffacc; }
  100% {
    color: white; } }

@keyframes text-pop-infinite {
  0% {
    color: white; }
  30% {
    color: #a8ebf0; }
  70% {
    color: #fffacc; }
  100% {
    color: white; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(2rem);
    opacity: 0; }
  80% {
    transform: translateY(0);
    opacity: 1; } }

.heading-primary {
  margin-bottom: 3rem;
  backface-visibility: hidden;
  font-family: "Grandstander", cursive; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    letter-spacing: -.5rem;
    margin-left: -1rem; }
    .heading-primary--main .name1 {
      font-size: 8.5rem;
      animation-name: bringLettersTogether;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      color: #fffacc; }
    .heading-primary--main .name2 {
      font-size: 6rem;
      color: #a8ebf0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 1.4s;
      animation-fill-mode: both; }
  .heading-primary--sub {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .8rem; }
    .heading-primary--sub span {
      animation: text-pop calc(2s + calc(350ms * var(--i))) ease-in-out forwards, text-pop-infinite calc(calc(1.5s * calc(var(--i) * 2))) ease-in-out 3.25s infinite; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(128, 214, 113, 0.8), rgba(76, 145, 59, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: transform 250ms; }
  .heading-secondary:hover {
    transform: scale(120%);
    background-image: linear-gradient(to right, rgba(77, 194, 56, 0.8), rgba(111, 188, 92, 0.8)); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

.u-margin-bottom-med {
  margin-bottom: 4rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  background: #a8ebf0;
  border: solid 0.6rem rgba(228, 251, 182, 0.5);
  position: relative;
  background-clip: padding-box;
  transition: all 200ms;
  color: var(--grey-100);
  font-size: 1.6rem; }
  .btn:hover {
    background: #a8ebf0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-sizing: border-box; }
    .btn:hover::after {
      transform: scaleX(115%) scaleY(130%);
      opacity: 70%; }
    .btn:hover:active::after {
      transform: scaleX(108%) scaleY(130%);
      opacity: 95%; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-color: #e4fbb6; }
  .btn::after {
    content: "";
    display: inline-block;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: calc(.4rem * -1);
    left: calc(.4rem * -1);
    transition: all 200ms;
    border-top: solid 0.4rem rgba(0, 0, 0, 0);
    border-bottom: solid 0.4rem rgba(0, 0, 0, 0);
    border-left: solid 0.4rem #e4fbb6;
    border-right: solid 0.4rem #e4fbb6;
    opacity: 0; }
  .btn--animated {
    animation: moveInBottom .750s ease-out .7s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4a7d40;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4a7d40;
  padding: 3px; }

.btn-text:hover {
  background-color: #5e9e51;
  color: #fffacc;
  transform: translateY(-3px);
  border: none;
  box-shadow: 0 1rem 2rem rgba(128, 214, 113, 0.55); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 1rem 1rem rgba(128, 214, 113, 0.55); }

.titles.animate *:not(.title-with-img__photo) {
  animation: fade-in 750ms both; }

.title-with-img {
  z-index: 1;
  transition: all 250ms;
  overflow: hidden; }
  .title-with-img__text {
    text-align: center;
    font-size: 3rem;
    border-radius: 2px;
    background-color: #80d671;
    padding: 1rem;
    opacity: 0; }
  .title-with-img__photo {
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; }
    .title-with-img__photo.half {
      height: 20rem; }
    .title-with-img__photo.whole {
      height: 40rem; }
    .titles.animate .title-with-img__photo:first-child {
      animation: move-in-from-top 750ms both; }
    .titles.animate .title-with-img__photo:last-child {
      animation: move-in-from-bottom 750ms both; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes move-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes move-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: none; } }

.header {
  height: 95vh;
  /* Photo by James Lacy on Unsplash */
  background-image: linear-gradient(to right bottom, rgba(128, 214, 113, 0.8), rgba(76, 145, 59, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__logo {
    height: 7rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 1.5rem; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 1rem; }

.col-half {
  width: calc(calc(100% - 1rem) / 2); }

.col-third {
  width: calc(calc(100% - 2 * 1rem) / 3); }

.col-two-thirds {
  width: calc(2 * calc(calc(100% - 2 * 1rem) / 3) + 1rem); }

.col-fourth {
  width: calc(calc(100% - 3 * 1rem) / 4); }

.col-three-fourths {
  width: calc(calc(3 * calc(100% - 3 * 1rem) / 4) + 2 * (1rem)); }

.heading-primary {
  margin-bottom: 3rem;
  backface-visibility: hidden;
  font-family: "Grandstander", cursive; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    letter-spacing: -.5rem;
    margin-left: -1rem; }
    .heading-primary--main .name1 {
      font-size: 8.5rem;
      animation-name: bringLettersTogether;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      color: #fffacc; }
    .heading-primary--main .name2 {
      font-size: 6rem;
      color: #a8ebf0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 1.4s;
      animation-fill-mode: both; }
  .heading-primary--sub {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .8rem; }
    .heading-primary--sub span {
      animation: text-pop calc(2s + calc(350ms * var(--i))) ease-in-out forwards, text-pop-infinite calc(calc(1.5s * calc(var(--i) * 2))) ease-in-out 3.25s infinite; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(128, 214, 113, 0.8), rgba(76, 145, 59, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: transform 250ms; }
  .heading-secondary:hover {
    transform: scale(120%);
    background-image: linear-gradient(to right, rgba(77, 194, 56, 0.8), rgba(111, 188, 92, 0.8)); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
