/* $hero-gradient2: rgba(45, 180, 40, 0.8); */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

@keyframes bringLettersTogether {
  0% {
    opacity: 0;
    color: #ffed4d;
    letter-spacing: 20rem; }
  100% {
    color: #fffacc;
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes text-pop {
  0% {
    color: rgba(4, 98, 4, 0.5); }
  70% {
    color: #fffacc; }
  100% {
    color: white; } }

@keyframes text-pop-infinite {
  0% {
    color: white; }
  30% {
    color: #a8ebf0; }
  70% {
    color: #fffacc; }
  100% {
    color: white; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(2rem);
    opacity: 0; }
  80% {
    transform: translateY(0);
    opacity: 1; } }

.heading-primary {
  margin-bottom: 3rem;
  backface-visibility: hidden;
  font-family: "Grandstander", cursive; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    letter-spacing: -.5rem;
    margin-left: -1rem; }
    .heading-primary--main .name1 {
      font-size: 8.5rem;
      animation-name: bringLettersTogether;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      color: #fffacc; }
    .heading-primary--main .name2 {
      font-size: 6rem;
      color: #a8ebf0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 1.4s;
      animation-fill-mode: both; }
  .heading-primary--sub {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .8rem; }
    .heading-primary--sub span {
      animation: text-pop calc(2s + calc(350ms * var(--i))) ease-in-out forwards, text-pop-infinite calc(calc(1.5s * calc(var(--i) * 2))) ease-in-out 3.25s infinite; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  background: #a8ebf0;
  border: solid 0.6rem rgba(228, 251, 182, 0.5);
  position: relative;
  background-clip: padding-box;
  transition: all 200ms;
  color: #777;
  font-size: 1.6rem; }
  .btn:hover {
    background: #a8ebf0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-sizing: border-box; }
    .btn:hover::after {
      transform: scaleX(115%) scaleY(130%);
      opacity: 70%; }
    .btn:hover:active::after {
      transform: scaleX(108%) scaleY(130%);
      opacity: 95%; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-color: #e4fbb6; }
  .btn::after {
    content: "";
    display: inline-block;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: calc(.4rem * -1);
    left: calc(.4rem * -1);
    transition: all 200ms;
    border-top: solid 0.4rem rgba(0, 0, 0, 0);
    border-bottom: solid 0.4rem rgba(0, 0, 0, 0);
    border-left: solid 0.4rem #e4fbb6;
    border-right: solid 0.4rem #e4fbb6;
    opacity: 0; }
  .btn--animated {
    animation: moveInBottom .750s ease-out .7s;
    animation-fill-mode: backwards; }

.header {
  height: 95vh;
  /* Photo by James Lacy on Unsplash */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(76, 145, 59, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__logo {
    height: 7rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  margin-bottom: 3rem;
  backface-visibility: hidden;
  font-family: "Grandstander", cursive; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    letter-spacing: -.5rem;
    margin-left: -1rem; }
    .heading-primary--main .name1 {
      font-size: 8.5rem;
      animation-name: bringLettersTogether;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      color: #fffacc; }
    .heading-primary--main .name2 {
      font-size: 6rem;
      color: #a8ebf0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 1.4s;
      animation-fill-mode: both; }
  .heading-primary--sub {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .8rem; }
    .heading-primary--sub span {
      animation: text-pop calc(2s + calc(350ms * var(--i))) ease-in-out forwards, text-pop-infinite calc(calc(1.5s * calc(var(--i) * 2))) ease-in-out 3.25s infinite; }
