$hero-gradient1: rgba(126, 213, 111, 0.8);
/* $hero-gradient2: rgba(45, 180, 40, 0.8); */
$hero-gradient2: rgba(76, 145, 59, 0.8);
$yellow-500: hsl(54, 100%, 65%);
$yellow-100: hsl(54, 100%, 90%);
$yellowgreen-100: hsl(80, 90%, 85%);
$blue-100: hsl(184, 70%, 80%);